

<h1>My to do list</h1>
<a href="{% url 'create' %}">Create Task</a>
<table>
    <tr>
        <th>Item</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
        {% for task in tasks %}
    <tr>
        <td>{{ task.title }}</td>
        <td><a href="{% url 'task' task.id %}">View</a></td>
        <td><a href="{% url 'update' task.id %}">Edit</a></td>
        <td><a href="{% url 'delete' task.id %}">Delete</a></td>
    </tr>
        {% empty %}
            <h3>No Tasks ...</h3>
        {% endfor %}
</table>
